<app-heading></app-heading>
<app-text>
    <p>
        В апреле и мае большинство регионов начали вводить жесткие ограничения и останавливать целые отрасли экономики. Мы посмотрели на основе датасета «Безработные-1», в каких субъектах на эти два месяца пришелся наибольший рост регистрируемой безработицы.
    </p>
    <br>
    <p>
        В топ регионов, где апрель и май стали самыми «безработными» месяцами, попали крупные субъекты: Москва (55,5% безработных были зарегистрированы в апреле-мае), Санкт-Петербург (53,9%), Московская область (53,5%), Татарстан (53,3%). Чтобы понять, почему именно эти в этих регионах была высокая доля весенней безработицы, мы изучили отраслевую структуру экономики регионов и посчитали индекс устойчивости каждого субъекта к ограничительным мерам (от 1 до 85 — чем выше балл, тем менее чувствительным должен оказаться регион к локдауну).
    </p>
    <br>
    <h2>
        Как мы считали
    </h2>
    <br>
    <p class="extra-info">
        Для каждого региона на основании данных Росстата мы рассчитали долю наиболее пострадавших от коронавируса отраслей — в них вошли отрасли из официального перечня правительства, а также другие отрасли, где произошел наиболее значительный спад входящих финансовых потоков по данным оперативного мониторинга ЦБ. Как фактор, повышающий устойчивость региона, мы выбрали долю отраслей с бюджетным финансированием (образование, здравоохранение, госуправление, ЖКХ). Конечным результатом стало среднее из двух рангов с весами 0,25 (доля пострадавших отраслей) и 0,75 (доля устойчивых отраслей). Мы специально не учитывали финансовое положение региона, чтобы в фокус попали в первую очередь тенденции на рынках труда.
    </p>
    <br>
    <p>
        Оказалось, что регионы, где апрель и май дали наибольший прирост зарегистрированных безработных, обладают наименьшим индексом устойчивости: в Москве этот индекс составил всего 1,25, в Санкт-Петербурге — 2,5, в Татарстане — 6,5. Это показывает, что в первую очередь уязвимыми оказались крупные города с высокой долей сервисной экономики, по которой локдаун ударил наиболее сильно. В частности, в Москве в секторе услуг работало около 50% трудоустроенных, которые из-за самоизоляции оказались без работы и могли пойти на биржу труда, чтобы получить хоть какой-то доход. Именно Москва (7,7% от признанных безработными в апреле), Московская область (5,8%) и Санкт-Петербург (4,6%) внесли наибольший вклад в рост числа зарегистрированных безработных в апреле.
    </p>
    <br>
    <p>
        В регионах с высоким индексом устойчивости, напротив, доля признанных безработными в апреле и мае оказалась наименьшей. Это Ингушетия (7,9% безработных были зарегистрированы в апреле-мае), Дагестан (12,2%), Карачаево-Черкесия (17,6%) и другие регионы Северного Кавказа, по которым локдаун ударил не так сильно благодаря высокой занятости в стабильном бюджетном секторе. Также более богатые сырьевые регионы, экономика которых не сильно зависит от рыночных отраслей (например, Чукотский и Ненецкий АО). При этом в тех же богатых сырьевых регионах очень высокая доля повторных заявок среди всех зарегистрированных: 65% и больше.
    </p>
    <br>
    <p>
        Также в регионах с низким индексом устойчивости больше людей стали пользоваться службами занятости: соотношение общего числа зарегистрированных на бирже труда и безработных там выросло сильнее всего (по данным за второй квартал 2020 года). Тогда как в более бедных регионах с высокой долей бюджетного сектора (республики Северного Кавказа) и субъектах с высокими средними зарплатами (Мурманск, ЯНАО, Сахалин, Магадан, Чукотка)  это соотношение почти не выросло или даже сократилось.
    </p>
    <br>
    <p>
        Это показывает, что между весенним скачком регистрируемой безработицы и отраслевой структурой региона есть связь.
    </p>
</app-text>
<app-region-map></app-region-map>
<app-signature></app-signature>
