@import "color-constants";

.period-switch {


  .period-switch__button {
    color: $black;
    background: none;

    &.selected {
      color: $red;
      font-family: "Montserrat Black", sans-serif;
    }
  }
}
