@import "src/assets/styles/color-constants";

.dimension-switch {

  .dimension-switch__button {
    color: $white;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Montserrat Light", sans-serif;

    &.selected {
      color: $primary;
      font-family: "Montserrat Black", sans-serif;
    }
  }
}
