<div class="dimension-switch"
     *ngIf="selectedDimension$ | async as dimension"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="20px">
    <a class="dimension-switch__button"
            [class.selected]="dimension === 'march/april'"
            routerLink="/march-april">Глава 1. Апрельский взлет</a>
    <a class="dimension-switch__button"
            [class.selected]="dimension === 'stability'"
            routerLink="/stability">Глава 2. Карантин</a>
    <a class="dimension-switch__button"
            [class.selected]="dimension === 'vulnerable'"
            routerLink="/vulnerable">Глава 3. Выход из тени </a>
</div>
