<div class="region">
  <p class="region__name">{{region.regionShortName}}</p>
  <div *ngIf="region.stars && region.stars.length > 0" fxLayout="row" fxLayoutGap="2px">
    <mat-icon svgIcon="star" *ngFor="let star of region.stars"></mat-icon>
  </div>
  <div *ngIf="region.experienceHeight > 0"
       class="region__experience-height"
       [style.height.px]="region.experienceHeight">
  </div>
  <mat-icon *ngIf="showMaxMonthIcon && (region.maxUnemployedMonth === 6 || region.maxUnemployedMonth === 7)"
            svgIcon="pik"
       class="region__pik-icon">
  </mat-icon>
</div>
