@import "color-constants";

.text-block {
  ::ng-deep {
    p {
      font-size: 16px;
      text-indent: 15px;
    }

    .bold {
      font-family: "Montserrat Black", sans-serif;
    }

    h2 {
      font-size: 24px;
      margin: 0;
    }

    .extra-info {
      padding: 20px;
      border-radius: 5px;
      background-color: #02ad7a;
      color: $black
    }
  }
}

@media (min-width: 800px) {
  .text-block {
    margin: 20px auto;
    max-width: 600px;
    color: $white;
  }
}
