$red: #bf381d;
$blue: #0191e5;
$white: #ffffff;
$gray: #979899;
$dark-gray: #313132;
$black: #13181a;
$primary: #02ad7a;

$color_gradient_1_1: #02ad7a;
$color_gradient_1_2: #008573;
$color_gradient_1_3: #005e5f;
$color_gradient_1_4: #0b3940;
$color_gradient_1_5: #13181a;

$color_gradient_2_1: #69767c;
$color_gradient_2_2: #2253e6;
$color_gradient_2_3: #090d45;
$color_gradient_2_4: #000000;

$color_gradient_3_1: #88a482;
$color_gradient_3_2: #5d813c;
$color_gradient_3_3: #16811b;
$color_gradient_3_4: #09451f;
