<div class="legend">
    <div class="legend__gradient-tile legend__gradient-1-tile"></div>
    <div class="legend__gradient-text legend__gradient-1-text">Доля меньше 13%</div>
    <div class="legend__gradient-tile legend__gradient-2-tile"></div>
    <div class="legend__gradient-text legend__gradient-2-text">Доля меньше 26%</div>
    <div class="legend__gradient-tile legend__gradient-3-tile"></div>
    <div class="legend__gradient-text legend__gradient-3-text">Доля меньше 39%</div>
    <div class="legend__gradient-tile legend__gradient-4-tile"></div>
    <div class="legend__gradient-text legend__gradient-4-text">Доля меньше 52%</div>
    <div class="legend__gradient-tile legend__gradient-5-tile"></div>
    <div class="legend__gradient-text legend__gradient-5-text">Доля больше 52%</div>
</div>
