<app-heading></app-heading>
<app-text>
    <p>
        В некоторых регионах пик зарегистрированных безработных наступил позже, чем в среднем по стране. Это 14 субъектов, среди которых республики Северного Кавказа, а также бедные регионы с высокой долей теневой занятости (Тыва).
    </p>
    <br>
    <p>
        Такой “лаг” во времени мог быть связан с новым порядком начисления пособий, который начал действовать летом: минимальный размер выплаты за май-июль повысили с полутора до 4,5 тысячи рублей, а также назначили дополнительные выплаты безработным с детьми. Из-за этого люди без трудового стажа, которые могли рассчитывать только на минимальное пособие, стали охотнее регистрироваться на бирже труда.
    </p>
    <br>
    <p>
        В регионах, где пик зарегистрированных безработных пришелся на июнь-июль, доля таких людей высока: около 70% признанных безработными в этих субъектах не имели трудового стажа за последний год, а около 80% вставших на учет относятся как минимум к одной категории уязвимости, примерно четверть из них — многодетные родители.
    </p>
    <br>
    <p>
        Те, кто не имел трудового стажа, могли «перетечь» на биржи труда из неформальных отраслей экономики: регионы с высокой долей ранее не работавших входят в топ субъектов по неформальной экономике.
    </p>
    <br>
    <p>
        По оценкам компании «Финэкспертиза», из-за карантина число неформально занятых в России сократилось почти на 1 млн человек. Наряду с малым и средним бизнесом и индивидуальными предпринимателями, неформально занятые (в том числе в теневом секторе) пострадали от коронакризиса сильнее всего. Если до пандемии большая часть занятых в теневом секторе не выходила на официальный рынок труда, то к маю 2020 года их доля могла составить до 40% из всех официально зарегистрированных в службах занятости россиян.
    </p>
    <br>
    <p>
        В Северо-Кавказских республиках медианный размер выплаченных пособий по безработице составил 4500 рублей — столько же, сколько минимальный размер выплаты после повышения. Это показывает, что летний пик зарегистрированных безработных был обусловлен притоком на биржу труда тех, кто раньше мог рассчитывать только на минимальное пособие, однако его размер был слишком мал и не стимулировал людей вставать на учет.
    </p>
    <br>
    <p>
        В 2020 году Россию захлестнули две волны коронавируса, а вместе с ними — две волны безработицы: первая — в апреле и мае, которая затронула крупные города с высокой долей сервисной экономики, а вторая — летом, когда на биржах труда стали регистрироваться люди из неформального или теневого сектора экономики, что характерно для более бедных регионов.
    </p>
    <br>
    <p>
        Об этом говорит и поисковая статистика сервиса «Яндекс.Вордстат»: практически во всех регионах всплеск показов по запросу «пособие по безработице» был дважды — в апреле и в июне. Так же, как и в нашем анализе, в 14 регионах летний пик был выше весеннего: это те же регионы — Северо-Кавказские республики (Ингушетия — летний пик превышает весенний более чем на 50%, Карачаево-Черкесия — на 40%, Чечня — на 45%), а также бедные субъекты (Тыва — на 37%, Хакасия — на 10%).
    </p>
    <br>
    <p>
        Кажется, третьей волны регистрируемой безработицы в России не будет: уже в сентябре число людей, признанных безработными, упало по сравнению с апрелем в 2,5 раза. Общее количество безработных, которые получают пособие, тоже сократилось в два раза: если в сентябре на биржах труда стояли 3,6 миллиона россиян, из которых 3,2 миллиона получали пособие, то в октябре выплаты получили лишь 1,7 из 3,4 миллиона безработных.
    </p>
    <br>
    <p>
        Без нового локдауна и продления повышенных выплат люди потеряют стимул регистрироваться на биржах труда, что вновь приведет к падению регистрируемой безработицы.
    </p>
</app-text>
<app-region-map></app-region-map>
<app-signature></app-signature>
