<app-heading></app-heading>
<app-text>
    В некоторых регионах пик зарегистрированных безработных наступил позже, чем в среднем по стране. Это 14 субъектов, среди которых республики Северного Кавказа, а также бедные регионы с высокой долей теневой занятости (Тыва).
    <br>
    <br>
    Это могло быть связано с новым порядком начисления пособий, который начал действовать летом: минимальный размер выплаты за май-июль повысили с полутора до 4,5 тысячи рублей, а также назначили дополнительные выплаты безработным с детьми. Из-за этого люди без трудового стажа, которые могли рассчитывать только на минимальное пособие, стали охотнее регистрироваться на бирже труда.
    <br>
    <br>
    В регионах, где пик зарегистрированных безработных пришелся на июнь-июль, доля таких людей высока: около 70% признанных безработными в этих субъектах не имели трудового стажа за последний год, а около 80% вставших на учет относятся как минимум к одной категории уязвимости, примерно четверть из них — многодетные родители.
    <br>
    <br>
    По оценкам компании “Финэкспертиза”, из-за карантина число неформально занятых в России сократилось почти на 1 млн человек. Наряду с малым и средним бизнесом и индивидуальными предпринимателями, неформально занятые (в том числе в теневом секторе) пострадали от коронакризиса сильнее всего. Если до пандемии большая часть занятых в теневом секторе не выходила на официальный рынок труда, то к маю 2020 года их доля могла составить до 40% из всех официально зарегистрированных в службах занятости россиян.
    <br>
    <br>
    Топ регионов, где высокая доля ранее не работавших, почти совпадает с топов регионов по неформальной экономике.
    буллеты с регионами и % неформалов. это != теневому сектору, но как правило регионы с высокой долей неформалов
    <br>
    <br>
    В Северо-Кавказских республиках медианный размер выплаченных пособий по безработице составил 4500 рублей — столько же, сколько минимальный размер выплаты после повышения. Это показывает, что летний пик зарегистрированных безработных был обусловлен притоком на биржу труда тех, кто раньше мог рассчитывать только на минимальное пособие, однако его размер был слишком мал и не стимулировал людей вставать на учет.
    <br>
    <br>
    В 2020 году Россию захлестнули две волны коронавируса, а вместе с ними — две волны безработицы: первая — в апреле и мае, которая затронула крупные города с высокой долей сервисной экономики, а вторая — летом, когда на биржах труда стали регистрироваться люди из неформального или теневого сектора экономики, что характерно для более бедных регионов. Об этом говорит и поисковая статистика сервиса «Яндекс.Вордстат»: практически во всех регионах всплеск показов по запросу «пособие по безработице» был дважды — в апреле и в июне. Так же, как и в нашем анализе, в 14 регионах летний пик был выше весеннего: это те же регионы — Северо-Кавказские республики (), а также бедные субъекты (Тыва, Хакасия).

</app-text>
<app-region-map></app-region-map>
<app-signature></app-signature>
