<app-heading></app-heading>
<app-text>
    <p>
        Из-за пандемии в России начал расти уровень безработицы: по данным Росстата, в апреле число безработных выросло на 800 тысяч человек (до 5,8%). Это традиционное явление для кризисных периодов — в 2008 году этот показатель тоже вырос и составил 6,4% за год.
    </p>
    <br>
    <p>
        При этом самые пессимистичные прогнозы экспертов о том, что безработица достигнет 10% и выше, не оправдались. Российский рынок труда вновь отреагировал на экономический спад не столько увольнениями, сколько сокращением зарплат и рабочего времени. Даже если отдельные предприятия проводили массовые сокращения штата, то оформлялись на бумаге они как-то по-другому: доля официально зарегистрированных безработных, уволенных в связи с выбытием с марта по сентябрь 2020 года, в большинстве регионов составила статистическую погрешность.
    </p>
    <br>
    <p>
        Необычным последствием коронакризиса для рынка труда стал резкий рост регистрируемой безработицы — людей, вставших на учет на биржи труда. Если раньше в центрах занятости числилось около 700 тысяч человек, то в октябре текущего года таких людей стало 3,5 миллиона. Доля безработных, вставших на учет, в общей безработице резко увеличилась во втором квартале 2020 года по сравнению с аналогичным периодом прошлого года.
    </p>
    <br>
    <p>
        Например, в Тюменской области это соотношение выросло с 15% до 70%, в Калининградской области – с 17% до 74%, в Татарстане – с 17% до 70%. Существенный прирост – в 1,5 раза и более – произошел в 72 субъектах федерации. В среднем по стране в марте 2020 года официально на учете стояли только 20% безработных, в апреле — уже больше 30%, а в мае — почти половина. Такой всплеск во многом был вызван изменениями размера и порядка выплат пособий по безработице: максимальная сумма выплат была увеличена с 8000 до 12 130 рублей в месяц, при этом уволенным с 1 марта назначалось максимальное пособие.
    </p>
    <br>
    <p>
        Чтобы оценить, в каких субъектах число зарегистрированных безработных выросло наиболее сильно, мы использовали датасет «Обезличенные сведения об отдельных характеристиках получателей государственной услуги содействия гражданам в поиске подходящей работы, а работодателям в подборе необходимых работников» («Безработные-1»). Источник: Роструд; обработка: Роструд, Инфраструктура научно-исследовательских данных, АНО «ЦПУР», 2020. (набор данных получен в рамках хакатона PandemicDataHack, 18-20 декабря 2020).
    </p>
    <br>
    <p>
        Мы посмотрели, сколько граждан было признано безработными ежемесячно в каждом регионе, и сравнили показатели марта и апреля, чтобы оценить эффект от увеличения пособия по безработице. Оказалось, что пик числа зарегистрированных на бирже труда пришелся на апрель: в целом по России этот показатель вырос более чем в шесть раз по сравнению с мартом. Всплеск произошел почти во всех регионах, однако он был неравномерным: в некоторых регионах количество людей, признанных безработными, выросло в 10-15 раз, в других — только в 2-3 раза, а в Ингушетии и вовсе упало. Чем можно объяснить такие расхождения?
    </p>
</app-text>
<app-region-map></app-region-map>
<app-signature></app-signature>
