<ng-container *ngIf="selectedDimension$ | async as selectedDimension">
  <ng-container [ngSwitch]="selectedDimension">
    <h2 class="map__heading" *ngSwitchCase="'march/april'">Во сколько раз выросла регистрируемая безработица в апреле</h2>
    <h2 class="map__heading" *ngSwitchCase="'stability'">Индекс устойчивости регионов к локдауну и рост безработицы в апреле-мае</h2>
    <h2 class="map__heading" *ngSwitchCase="'vulnerable'">Доля безработных без стажа работы за последний год</h2>
  </ng-container>
  <div class="map"
       [style.width.px]="regTileSideSize * 19 + 4"
       *ngIf="regions$ | async as regions">
    <div class="map__legend" [ngSwitch]="selectedDimension">
      <app-legend-march-april *ngSwitchCase="'march/april'"></app-legend-march-april>
      <app-legend-stability *ngSwitchCase="'stability'"></app-legend-stability>
    </div>
    <div class="map__scrollable-container"
         [style.width.px]="regTileSideSize * 19"
         [style.height.px]="regTileSideSize * 11">
      <app-reg-tile class="map__reg-tile"
                    (click)="openRegionDialog(region)"
                    [@inOutAnimation]
                    *ngFor="let region of regions"
                    [region]="region"
                    [ngClass]="region.colorDepth"
                    [class.march-april-dimension]="selectedDimension === 'march/april'"
                    [class.stability-dimension]="selectedDimension === 'stability'"
                    [class.vulnerable-dimension]="selectedDimension === 'vulnerable'"
                    [style.left.px]="region.col * regTileSideSize"
                    [style.top.px]="region.row * regTileSideSize">
      </app-reg-tile>
    </div>
  </div>
</ng-container>

