@import 'color-constants';

.map__heading {
  color: $white;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat Light", sans-serif;
  max-width: 700px;
  margin: auto;
}

.map {
  margin-top: 25px;
  position: relative;
  max-width: calc(100vw - 40px);
  overflow-x: scroll;
  overflow-y: hidden;

  .map__scrollable-container {
    position: relative;
    margin-top: 25px;
    // add 1px margin to show bottom border
    margin-bottom: 1px;
    margin-right: 1px;
  }

  .map__reg-tile {
    box-shadow:
      1px 0 0 0 $black,
      0 1px 0 0 $black,
      1px 1px 0 0 $black,   /* Just to fix the corner */
      1px 0 0 0 $black inset,
      0 1px 0 0 $black inset;
    z-index: 1;
    position: absolute;
    cursor: pointer;

    &.march-april-dimension,
    &.stability-dimension {
      &.low {
        background-color: $color_gradient_1_1;
      }

      &.medium-low {
        background-color: $color_gradient_1_2;
      }

      &.medium {
        background-color: $color_gradient_1_3;
      }

      &.medium-high {
        background-color: $color_gradient_1_4;
      }

      &.high {
        background-color: $color_gradient_1_5;
      }
    }
  }
}

@media (min-width: 900px) {
  .map {
    margin: 25px auto 1px;

    .map__legend {
      position: absolute;
      top: 350px;
      left: 400px;
    }

    .map__reg-tile.map__reg-tile_right-edge,
    .map__reg-tile_empty.map__reg-tile_right-edge,
    .map__reg-tile.map__reg-tile__empty {
      border-right: none;
    }
  }
}
